body{
	margin: 0px;
	padding: 0px;
	font-family: Arial;
}
a{
	text-decoration: none;
}
img{
	image-rendering: -moz-crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: crisp-edges;
}
ul{
	padding: 0;
}
.header{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: #f6f2f2;
	padding-top: 25px;
}
.menu{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
	width: 90%;
	background-color: #313030;
	height: 75px;
	padding: 0px;
	margin: 0px;
}
.menu_point_text{
	width: 100%;
	color: white;
	font-size: 20pt;
}
.menu_point{
	width: 20%;
	text-align: center;
	padding-top: 22px;
}
.banner_button{
	background-color: #ff3f40;
	color: white;
	border: 2px solid #ff3f40;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 8%;
	padding-right: 8%;
	border-radius: 5px;
}
.banner{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 50px;
	margin-bottom: 50px;
}
.banner_text{
	width: 50%;
}
.banner_video{
	width: 40%;
}
.services_button{
	border: none;
	border: 2px solid #ff3f40;
	padding-right: 3%;
	padding-left: 3%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 5px;
	color: #ff3f40;
	background-color: white;
}
.services_block{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 90%;
	margin-right: 5%;
	margin-left: 5%;
}
.services_block_text{
	width: 40%;
}
.services{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.services_row{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.service{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 47.5%;
}
.products{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
}
.products_text{
	width: 35%;
}
.products_bar{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 80%;
	list-style: none;
}
.products_bar_button{
	border: none;
	background: none;
	color: gray;
	width: 150%;
	height: 25pt;
}
.products_bar_button:hover{
	color: #ff3f40;
}
.products_line{
	background-color: #ff3f40;
	width: 20%;
	height: 2px;
	border: none;
}
.team{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 100px;
}
.team_text{
	width: 40%;
}
.team_line{
	background-color: #ff3f40;
	width: 20%;
	height: 2px;
	border: none;
	margin: 0px;
}
.person{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	margin-top: 30px;
}
#person_image{
	width: 35%;
	height: auto;
}
.person_info{
	width: 55%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.person_links{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 50%;
}
.person_link{
	color: grey;
}
.persons_images{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
	vertical-align: bottom;
}
.persons_text{
	color: gray;
}
.persons_image{
	width: 20%;
}
.search{
	width: 80%;
	margin-left: 10%;
	margin-top: 100px;
}
.search_text{
	color: gray;
}
.search_input_div{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 80%;
	margin-top: 40px;
}
.search_input{
	width: 60%;
	height: 40px;
	margin-top: 11px;
	background-color: #cbcbcb;
	opacity: 0.3;
	border: none;
	border-radius: 10px;
	padding-left: 2%;
}
.search_input::placeholder{
	color: black;
	opacity: 0.9;
}
.search_input_button{
	width: 30%;
	padding: none;
	background-color: #ff2d2d;
	border: none;
	border-radius: 10px;
}
.get_in_touch{
	width: 95%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 5%;
	margin-top: 100px;
}
.left_get{
	width: 60%;
}
.left_text{
	width: 50%;
}
.left_input{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.first_row_input{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.left_frow_input{
	width: 45%;
	height: 40px;
	margin-top: 11px;
	background-color: #cbcbcb;
	opacity: 0.6;
	border: none;
	border-radius: 10px;
	padding-left: 2%;	
}
.left_frow_input::placeholder{
	color: black;
	opacity: 0.6;
}
.left_srow_input{
	height: 150px;
	margin-top: 50px;
	background-color: #cbcbcb;
	opacity: 0.6;
	border: none;
	border-radius: 10px;
	padding-left: 2%;	
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 70px;
}
.left_srow_input::placeholder{
	color: black;
	opacity: 0.6;
}
.left_button{
	padding: none;
	background-color: #ff2d2d;
	border: none;
	border-radius: 10px;	
}
.right_get{
	background-color: black;
	color: white;
	width: 20%;
	padding-left: 10%;
	padding-right: 1%;
	margin-top: 200px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	padding-top: 100px;
	word-wrap: break-word
}
.footer{
	background-color: black;
	width: 100%;
	color: white;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	margin-top: 100px;
	padding-top: 10px;
}
.icons{
}
.tag_button{
	margin-top: 6.5px;
	opacity: 0.3;
}
.tag_button:hover{
	opacity: 1;
}